.navbar{
    display: flex;
    border: 1px solid black;
    justify-content:space-between;
}
.navbar > ul{
 display: flex;
 /* justify-content: space-evenly; */
}

.navbar > ul > li{
    padding: 10px;
    list-style-type: none;
}

.product{
    border: 1px solid black;
    width: 200px;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.productCart{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: space-between;
}

.prodImg{
    height: 200px;
    width: 200px;
}

.skeletonContainer{
    display: flex;

}
.skeleton{
    height:400px;
    width: 200px;
    background-color: rgb(196, 102, 102);
}